# DB ENV
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=dbname
DB_HOST=db # sync db service name
DB_PORT=5432 # sync db service port

# SERVER ENV
SERVER_PORT=3000
SERVER_HOST=0.0.0.0 # default
RPC_URL=https://rpc-amoy.polygon.technology
PRIVATE_KEY=YOUR_PIRVATE_KEY
CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB_NAME"

# SIMULATOR ENV
API_URL=YOUR_API_URL # using service name for host
FACTORY_ADDRESS=WALLET_ADDRESS
INTERVAL=10000 # milisecond

# WEB ENV
NEXT_PUBLIC_PROJECT_ID=YOUR_PROJECT_ID_FROM_WALLET_CONNECT_CLOUD
NEXT_PUBLIC_API_URL=YOUR_API_URL